name: deploy-gateway
on:
  push:
    branches:
      - release

jobs:
  deploy:
    runs-on: [self-hosted]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5.0.0

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'zulu'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build -x test

      - name: Extract JAR layers
        run: |
          cd build 
          jar -xf ./libs/try-api-gate-way-0.0.1-SNAPSHOT.jar
          cd ..

      - name: Build and Deploy with Docker Compose
        run: docker compose up -d --build
