name: deploy-gateway
on:
  push:
    branches:
      - release

jobs:
  deploy:
    runs-on: [self-hosted]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5.0.0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Extract JAR layers
        run: |
          cd build 
          java -Djarmode=layertools -jar libs/*.jar extract
          cd ..

      - name: Build and Deploy with Docker Compose
        run: docker-compose up -d --build