name: deploy-gateway
on:
  push:
    branches:
      - release

jobs:
  deploy:
    runs-on: [self-hosted]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5.0.0

      - name: Locate All Files
        run: ls -la

      - name: See Dockerfile Content
        run: cat Dockerfile
