name: deploy-gateway
on:
  push:
    branches:
      - release

jobs:
    deploy:
      runs-on: [self-hosted]
      steps:
        - name : testing server deployment
          run: echo "deploying gateway service..." > deploy-gateway.txt
        - name: where this file is located
          run: pwd > deploy-gateway-path.txt